{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "proseWrap": "always",
  "htmlWhitespaceSensitivity": "strict",
  "singleAttributePerLine": true
}